@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

*::selection {
  background-color: #fff;
  color: #95c11e;
}

html,body{
    width: 100%;
    height: 100%;
}

body::-webkit-scrollbar {
  display: block;
  width: 8px;
  background: #000;
}

body::-webkit-scrollbar-thumb {
  background-color: #95c11e;
  border-radius: 50px;
}

body {
  overflow-x: hidden;
}

#nav{
    height: 145px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 150px;
    gap: 45px;
    position: fixed;
    z-index: 99;
}

#nav img {
    height: auto;
    max-height: 60px;
    width: auto;
    max-width: 120px;
    border-radius: 10px;
    object-fit: contain;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

#nav img:hover {
    transform: scale(1.05);
}


#nav h4{
    text-transform: uppercase;
    font-weight: 600;
}

video{
    width: 100%;
    height: 100%;
    position: fixed;
    object-fit: cover;
    z-index: -1;
}

#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.37);
    z-index: 1; 
}

#page1 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 10;
  margin-bottom: 50px;
}

#page1 #arrow{
    height: 150px;
    width: 150px;
    position: absolute;
    left: -2%;
    bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 2px solid #95c11e;
    border-radius: 50%;
    transition: all ease 0.6s;
    margin-bottom: 20px;
}

#page1 #arrow i{
    font-size: 50px;
    font-weight: 300;
}

#page1 #arrow:hover{
    scale: 0.4;
    background-color: #95c11e;
    transition: all ease 0.6s;
}

#page1 h1{
    font-size: 140px;
    font-weight: 900;
    position: relative;
}

#page1 h1::before {
  content: "EAT. DRINK. PLAY.";
  position: absolute;
  color: #000;
  top: -5px;
  left: -5px;
  -webkit-text-stroke: 1.5px #95c11e;
  z-index: -1;
}

#page1 h2{
    font-size: 40px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
}

#page1 p{
    font-size: 20px;
    font-weight: 500;
    width: 53%;
}

#page2{
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}

#scroll{
    position: relative;
    z-index: 10;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#scroll h4{
    display: inline-block;
    font-size: 100px;
    font-weight: 900;
    font-family: "Poppins";
    margin-right: 10px;
    color: transparent;
    -webkit-text-stroke: 2px #95c11e;
    transition: all linear 0.5s;
    margin-right: 50px;
}

#scroll h4:hover{
    color: #95c11e;
}

@keyframes scroll{
    from {
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#scroller{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#scroll::-webkit-scrollbar {
    display: none;
}

#about{
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 90px;
    padding: 0 50px;
    position: relative;
    z-index: 10;
    margin-top: 80px;
    margin-bottom: 80px;
}

#about img{
    width: 240px;
    height: 220px;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#aboutus{
    width: 65%;
    text-align: center;
}

#aboutus h3{
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 30px;
}

#aboutus p{
    font-size: 17.7px;
    line-height: 21px;
}

#cards{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: relative;
    z-index: 10;
    overflow: hidden;
}

.card {
  height: 80%;
  width: 24%;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  transition: transform 0.6s ease;
  --scale: 1;
  --rx: 0;
  --ry: 0;
  --rz: 0;
  --angle: 0deg;
  transform: scale(var(--scale)) rotate3d(var(--rx), var(--ry), var(--rz), var(--angle));
}

.card:hover {
  --rx: -1.5;
  --ry: 1.5;
  --rz: -0.2;
  --angle: 20deg;
}

#card1 {
  background-image: url(./images/card1.png);
}
#card2 {
  background-image: url(./images/card2.png);
}
#card3 {
  background-image: url(./images/card3.png);
}

.overlay{
    height: 100%;
    width: 100%;
    background-color: #95c11e;
    padding-top: 160px;
    padding: 30px;
    opacity: 0;
}

.card .overlay:hover{
    opacity: 1;
    transition: all ease 0.6s;
}

.overlay h4{
    color: #000;   
    font-size: 30px;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 20px;
    font-weight: 800;
}

.overlay p {
    color: #222; 
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    letter-spacing: 0.1px;
    text-align: justify;
    text-justify: inter-word;
}

#banner{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left bottom, #12b33f, #ace022);
    margin-bottom: 40px;
    margin-top: 120px;
}

#banner .hover-highlight {
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  transition: color 0.3s ease;
  cursor: pointer;
}

#banner .hover-highlight:hover {
  color: #000;
  text-shadow: none;
}

#banner h3{
    width: 50%;
    color: #000;
    font-weight: 800;
    font-size: 30px;
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
}

#banner img{
    object-fit: cover;
    height: 100%;
    width: 15%;
}

#page3{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #000;
}

#page3 p{
    font-size: 35px;
    font-weight: 700;
    width: 50%;
    line-height: 45px;
    text-align: center;
    color: #fff;
}

#page3 img{
    position: absolute;
    height: 60px;
}

#page3 #colon1{
    left: 15%;
    top: 15%;
}

#page3 #colon2{
    right: 15%;
    bottom: 15%;
}

#page4{
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
    margin-top: 100px;
}

#page4 h1{
    font-size: 90px;
    font-weight: 900;
    position: absolute;
    top: -25%;
    color: #000;
    font-family: "Poppins";
    -webkit-text-stroke: 2px #fff;
}

#page4 .elem{
    overflow: hidden;
    position: relative;
    height: 70%;
    width: 24%;
    border-radius: 20px;
}

.elem h2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 800;
    position: absolute;
    z-index: 10;
    background-color: #95c11e;
    color: #000;
    transition: all ease 0.6s;
}

.elem h2:hover{
    background-color: transparent;
    color: #fff;
    transition: all ease 0.6s;
}

.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.6s;
    scale: 1.1;
}

.elem:hover img{
    scale: 1;
    transition: all ease 0.6s;
}

#footer {
    margin-top: 70px;
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom, #119f3a 0%, #a3d421 80%);
    gap: 6.5vw;
    padding: 0 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#footer > img {
  position: absolute;
  left: 0;
  height: 100%;
  z-index: 0;
}

#footer #f{
    object-fit: cover;
    height: 100%;
    width: 15%;
}

#f1 img {
  height: 80px;
  transition: transform 0.3s ease;
}

#f1 img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

#f1, #f2, #f3, #f4 {
  width: fit-content;
  position: relative;
  z-index: 99;
}

#f2 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 900;
  margin-bottom: 8px;
}

#f3 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 800;
  margin-bottom: 8px;
}

#f4 h4 {
  font-size: 1vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 8px;
}

#footer h1:hover,
#footer h2:hover,
#footer h3:hover,
#footer h4:hover {
  color: #fff; 
  transform: scale(1.1);
  transition: all 0.3s ease;
  cursor: pointer;
}

